.container-tablea100 {
  width: 100%;
  min-height: 100vh;
  background: #c4d3f6;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-tablea100 {
  width: 960px;
  border-radius: 10px;
  overflow: hidden;
}

.tablea {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 780px) {
  .tablea {
    display: block;
  }
}

.rowa {
  display: table-row;
}

.rowa.headera {
  color: #ffffff;
  background: #0D47A1;
}

@media screen and (max-width: 780px) {
  .rowa {
    display: block;
  }

  .rowa.headera {
    padding: 0;
    height: 0px;
  }

  .rowa.headera .cella {
    display: none;
  }

  .rowa .cella:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cella {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cella {
    display: block;
  }
}

.rowa .cella {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.rowa.headera .cella {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
}

.rowa .cella:nth-child(1) {
  width: 360px;
  padding-left: 40px;
}

.rowa .cella:nth-child(2) {
  width: 160px;
}

.rowa .cella:nth-child(3) {
  width: 250px;
}

.rowa .cella:nth-child(4) {
 
}


.tablea, .rowa {
  width: 100% !important;
}


@media (max-width: 768px) {
  .rowa {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  .rowa .cella {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .rowa .cella:nth-child(1) {
    padding-left: 30px;
  }
  
  .rowa .cella {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .tablea, .rowa, .cella {
    width: 100% !important;
  }
}





.wrap-tableb100 {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.tableb {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 780px) {
  .tableb {
    display: block;
  }
}

.rowb {
  display: table-row;
}

.rowb.headerb {
  color: #ffffff;
  background: #0D47A1;
}

@media screen and (max-width: 780px) {
  .rowb {
    display: block;
  }

  .rowb.headerb {
    padding: 0;
    height: 0px;
  }

  .rowb.headerb .cellb {
    display: none;
  }

  .rowb .cellb:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cellb {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cellb {
    display: block;
  }
}

.rowb .cellb {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.rowb.headerb .cellb {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
}

.rowb .cellb:nth-child(1) {
  width: 360px;
  padding-left: 40px;
}

.rowb .cellb:nth-child(2) {
  width: 160px;
}

.rowb .cellb:nth-child(3) {
  width: 250px;
}

.rowb .cellb:nth-child(4) {
 
}


.tableb, .rowb {
  width: 100% !important;
}


@media (max-width: 768px) {
  .rowb {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  .rowb .cellb {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .rowb .cellb:nth-child(1) {
    padding-left: 30px;
  }
  
  .rowb .cellb {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .tableb, .rowb, .cellb {
    width: 100% !important;
  }
}